@using Webdiyer.WebControls.Mvc
@{
    ViewBag.Title = "系统角色";
    ViewBag.Nav = new List<string>() { "系统设置", "系统角色" };
    Layout = "~/Areas/Backstage/Views/Shared/_Layout.cshtml";
}

@section Scripts
    {
    @{Html.RegisterMvcPagerScriptResource();}
    @*<script src="../../../../Scripts/UI/Bootstrap/js/jquery-1.11.1.js" type="text/javascript"></script>*@
    <script type="text/javascript" language="javascript">
        function addRole() { }

        //查询
        function Query() {
            //alert(1);
            var $from = $("#QuerySection").serialize();
            //alert(2);

            $("#QuerySection").submit();
            //alert(3);

        }
    </script>
}
<div class="row">
    <div class=" col-lg-12 col-xs-12">
        <div class="widget">
            <div class=" widget-header">
                <i class="widget-icon fa fa-user"></i><span class="widget-caption">系统角色</span>
                <div class="widget-buttons">
                    <a href="#" data-toggle="maximize"><i class="fa fa-expand"></i></a><a href="#" data-toggle="collapse">
                        <i class="fa fa-minus"></i></a>
                </div>
                <!--Widget Buttons-->
                <div>
                </div>
            </div>
            <div class=" widget-body">
                <div class="table-toolbar">
                    @using (Ajax.BeginForm("Role", new RouteValueDictionary { { "id", "" } }, new MvcAjaxOptions { UpdateTargetId = "DataTable", InsertionMode = InsertionMode.Replace }, new RouteValueDictionary { { "id", "QuerySection" } }))
                    {
                        <label>
                            角色名称：</label>
                        <span id="" class="dataTables_filter">
                            <label>
                                <input type="search" class="form-control input-sm" name="Keyword" aria-controls="editabledatatable" /></label>
                        </span>
                        <label>
                            <a id="query" href="javascript:Query();" class="btn btn-primary"><i class="icon fa fa-search">
                            </i>查询</a>
                        </label>
                        <label>
                            <a id="query" href="@Url.Action("RoleAdd", "System")" class="btn btn-primary"><i
                                class="icon fa fa-plus"></i>新加角色</a>
                        </label>
                        <label>
                            <a id="InitMenu" href="#" class="btn btn-primary"><i class="icon fa fa-trash-o"></i>
                                删除 </a>
                        </label>
                    }
                </div>
                <div id="DataTable">
                    @{Html.RenderPartial("_Table_Roles");}
                </div>
            </div>
        </div>
    </div>
</div>
