@{
    <li class="@((ViewBag.Title == "首页") ? "active" : "")">
        @if (ViewBag.Title == "首页")
        {
            <i class="fa fa-home"></i>
            <span>首页</span>
        }
        else
        {
            <i class="fa fa-home"></i>
            <a href="@Url.Action("Index","Home")">首页</a>
        }
    </li>
    if (ViewBag.Nav != null)
    {
        foreach (var item in ViewBag.Nav)
        {
            <li>@item.ToString()</li>
        }

    }
}